Repository tujianglin/ui-docs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-oxlint, lint-prettier, lint-package, lint-json, lint-vue

lint-oxlint:
  run: pnpm oxfmt --write && pnpm oxlint {staged_files} --fix

lint-prettier:
  run: pnpm prettier --cache --ignore-unknown --write {staged_files}

lint-package:
  run: pnpm prettier --cache --write {staged_files}

lint-json:
  run: pnpm prettier --cache --write --parser json {staged_files}

lint-vue:
  run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}

feat: tree
  packages/tree/docs/draggable.less
  packages/tree/docs/draggable.tsx
  packages/tree/docs/tree.story.vue
  packages/tree/docs/utils/dataUtil.ts
  packages/tree/src/NodeList.tsx
  packages/tree/src/Tree.tsx
  packages/virtual-list/src/List.tsx
Due: lint-oxlint, lint-prettier, lint-vue

feat: tree
  packages/render/index.ts
  packages/render/render.tsx
  packages/tree/src/TreeNode.tsx
Due: lint-oxlint

feat: tree-select
  packages/tree-select/package.json
  packages/tree-select/src/LegacyContext.tsx
  packages/tree-select/src/OptionList.tsx
  packages/tree-select/src/TreeSelect.tsx
  packages/tree-select/src/TreeSelectContext.tsx
  packages/tree-select/src/hooks/useCache.ts
  packages/tree-select/src/hooks/useCheckedKeys.ts
  packages/tree-select/src/hooks/useDataEntities.ts
  packages/tree-select/src/hooks/useFilterTreeData.ts
  packages/tree-select/src/hooks/useRefFunc.ts
  packages/tree-select/src/hooks/useTreeData.ts
  packages/tree-select/src/index.tsx
  packages/tree-select/src/interface.ts
  packages/tree-select/src/utils/legacyUtil.tsx
  packages/tree-select/src/utils/strategyUtil.ts
  packages/tree-select/src/utils/valueUtil.ts
  packages/tree-select/src/utils/warningPropsUtil.ts
  packages/tree/src/interface.tsx
  packages/util/src/Children/toArray.ts
  playground/App.tsx
Due: lint-oxlint

feat: tree-select
  packages/select/package.json
  packages/tree-select/docs/assets/icons.png
  packages/tree-select/docs/assets/index.less
  packages/tree-select/docs/assets/loading.gif
  packages/tree-select/docs/assets/minus.gif
  packages/tree-select/docs/assets/select.less
  packages/tree-select/docs/assets/tree.less
  packages/tree-select/docs/basic.tsx
  packages/tree-select/docs/tree-select.story.vue
  packages/tree-select/docs/utils/big-data-generator.tsx
  packages/tree-select/docs/utils/dataUtil.ts
  packages/tree-select/src/OptionList.tsx
  playground/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: textarea
  packages/input/src/BaseInput.tsx
  packages/input/src/Input.tsx
  packages/input/src/hooks/useCount.ts
  packages/input/src/interface.ts
  packages/resize-observer/src/index.tsx
  packages/textarea/docs/allowClear.tsx
  packages/textarea/docs/assets/index.less
  packages/textarea/docs/autoSize.tsx
  packages/textarea/docs/showCount.tsx
  packages/textarea/docs/simple.tsx
  packages/textarea/docs/textarea.story.vue
  packages/textarea/package.json
  packages/textarea/src/ResizableTextArea.tsx
  packages/textarea/src/TextArea.tsx
  packages/textarea/src/calculateNodeHeight.tsx
  packages/textarea/src/index.tsx
  packages/textarea/src/interface.ts
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: dropdown
  packages/dropdown/docs/assets/index.less
  packages/dropdown/package.json
  packages/dropdown/src/Dropdown.tsx
  packages/dropdown/src/Overlay.tsx
  packages/dropdown/src/hooks/useAccessibility.ts
  packages/dropdown/src/index.tsx
  packages/dropdown/src/placements.ts
Due: lint-oxlint, lint-prettier

feat: menu
  packages/menu/docs/assets/index.less
  packages/menu/docs/assets/menu.less
  packages/menu/docs/menu.story.vue
  packages/menu/docs/single.tsx
  packages/menu/package.json
  packages/menu/src/Divider.tsx
  packages/menu/src/Icon.tsx
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuItem.tsx
  packages/menu/src/MenuItemGroup.tsx
  packages/menu/src/SubMenu/InlineSubMenuList.tsx
  packages/menu/src/SubMenu/PopupTrigger.tsx
  packages/menu/src/SubMenu/SubMenuList.tsx
  packages/menu/src/SubMenu/index.tsx
  packages/menu/src/context/IdContext.tsx
  packages/menu/src/context/MenuContext.tsx
  packages/menu/src/context/PathContext.tsx
  packages/menu/src/context/PrivateContext.tsx
  packages/menu/src/hooks/useAccessibility.ts
  packages/menu/src/hooks/useActive.ts
  packages/menu/src/hooks/useDirectionStyle.ts
  packages/menu/src/hooks/useKeyRecords.ts
  packages/menu/src/hooks/useMemoCallback.ts
  packages/menu/src/index.ts
  packages/menu/src/interface.ts
  packages/menu/src/placements.ts
  packages/menu/src/utils/commonUtil.ts
  packages/menu/src/utils/motionUtil.ts
  packages/menu/src/utils/nodeUtil.tsx
  packages/menu/src/utils/timeUtil.ts
  packages/menu/src/utils/warnUtil.ts
  packages/overflow/src/RawItem.tsx
  packages/overflow/src/context.tsx
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  packages/menu/src/MenuItem.tsx
  packages/menu/src/SubMenu/InlineSubMenuList.tsx
  packages/menu/src/SubMenu/index.tsx
  packages/overflow/docs/overflow.story.vue
  packages/overflow/docs/raw-render.tsx
  packages/overflow/src/Item.tsx
  packages/overflow/src/RawItem.tsx
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  package.json
  packages/menu/docs/antd.tsx
  packages/menu/docs/menu.story.vue
  packages/menu/src/Menu.tsx
  packages/menu/src/MenuItem.tsx
  packages/menu/src/MenuItemGroup.tsx
  packages/menu/src/SubMenu/PopupTrigger.tsx
  packages/menu/src/SubMenu/index.tsx
  packages/menu/src/hooks/useActive.ts
  packages/menu/src/hooks/useKeyRecords.ts
  packages/menu/src/index.ts
  packages/menu/src/interface.ts
  packages/menu/src/utils/commonUtil.ts
  packages/menu/src/utils/nodeUtil.tsx
  packages/menu/src/utils/warnUtil.ts
  packages/util/src/createRef.ts
  packages/util/src/ref.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-package, lint-vue

feat: menu
  packages/menu/docs/antd.tsx
  packages/menu/docs/menu.story.vue
  packages/menu/src/SubMenu/InlineSubMenuList.tsx
  packages/menu/src/SubMenu/index.tsx
  packages/menu/src/context/MenuContext.tsx
  packages/motion/src/CSSMotion.tsx
  packages/motion/src/hooks/useStatus.ts
  packages/tree/docs/tree.story.vue
Due: lint-oxlint, lint-prettier, lint-vue

feat: dropdown
  package.json
  packages/dropdown/docs/arrow.tsx
  packages/dropdown/docs/context-menu.tsx
  packages/dropdown/docs/dropdown-menu-width.tsx
  packages/dropdown/docs/dropdown.story.vue
  packages/dropdown/src/Dropdown.tsx
  packages/dropdown/src/Overlay.tsx
  packages/dropdown/src/hooks/useAccessibility.ts
  packages/render/package.json
  packages/render/render.tsx
  packages/render/src/index.ts
  packages/render/src/render.tsx
  packages/trigger/src/Popup/index.tsx
  packages/trigger/src/index.tsx
  playground/App.tsx
  pnpm-lock.yaml
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-package, lint-vue

feat: 1
  packages/collapse/docs/custom-icon.tsx
  packages/collapse/src/Panel.tsx
  packages/collapse/src/PanelContent.tsx
  packages/input-number/src/InputNumber.tsx
  packages/input/src/BaseInput.tsx
  packages/input/src/Input.tsx
  packages/menu/src/MenuItemGroup.tsx
  packages/menu/src/SubMenu/index.tsx
  packages/overflow/src/Overflow.tsx
  packages/select/src/OptionList.tsx
  packages/select/src/SelectInput/Content/MultipleContent.tsx
  packages/select/src/SelectInput/Content/Placeholder.tsx
  packages/select/src/SelectInput/index.tsx
  packages/select/src/SelectTrigger.tsx
  packages/slider/docs/slider.story.vue
  packages/slider/src/Marks/index.tsx
  packages/textarea/src/TextArea.tsx
  packages/tooltip/src/Tooltip.tsx
  packages/tour/src/TourStep/DefaultPanel.tsx
  packages/tree-select/src/OptionList.tsx
  packages/util/src/vnode.tsx
  packages/virtual-list/src/Filler.tsx
  playground/App.tsx
  pnpm-lock.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  packages/color-picker/docs/color-picker.story.vue
  packages/select/src/BaseSelect/index.tsx
  packages/select/src/SelectTrigger.tsx
  packages/slider/src/Handles/Handle.tsx
  playground/App.tsx
Due: lint-oxlint, lint-prettier, lint-vue

fix: 3.2.3 和 3.1.23 版本 bug
  packages/cascader/docs/cascader.story.vue
  packages/cascader/docs/multiple.tsx
  packages/cascader/docs/panel.tsx
  packages/cascader/src/Cascader.tsx
  packages/cascader/src/OptionList/List.tsx
  packages/cascader/src/Panel.tsx
  packages/select/docs/select.story.vue
  packages/select/src/BaseSelect/index.tsx
  packages/select/src/SelectTrigger.tsx
  packages/trigger/src/Popup/index.tsx
  playground/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: cascader
  packages/cascader/docs/cascader.story.vue
  packages/cascader/docs/multiple-search.tsx
  packages/cascader/docs/multiple.tsx
  packages/cascader/src/Cascader.tsx
  packages/select/docs/combobox.tsx
  packages/select/docs/multiple.tsx
  packages/select/docs/select.story.vue
  packages/select/docs/single.tsx
  packages/select/src/BaseSelect/index.tsx
  packages/select/src/Select.tsx
  packages/select/src/SelectInput/Content/MultipleContent.tsx
  packages/select/src/SelectInput/Content/SingleContent.tsx
  packages/select/src/SelectInput/Input.tsx
  packages/select/src/SelectInput/index.tsx
  packages/select/src/hooks/useSearchConfig.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: mentions
  packages/checkbox/src/index.tsx
  packages/input/src/Input.tsx
  packages/mentions/docs/assets/index.less
  packages/mentions/docs/basic.tsx
  packages/mentions/docs/dynamic.less
  packages/mentions/docs/dynamic.tsx
  packages/mentions/docs/filter.tsx
  packages/mentions/docs/mentions.story.vue
  packages/mentions/docs/multiple-prefix.tsx
  packages/mentions/docs/on-scroll.tsx
  packages/mentions/docs/onScroll.less
  packages/mentions/package.json
  packages/mentions/src/DropdownMenu.tsx
  packages/mentions/src/KeywordTrigger.tsx
  packages/mentions/src/Mentions.tsx
  packages/mentions/src/MentionsContext.tsx
  packages/mentions/src/Option.tsx
  packages/mentions/src/context.tsx
  packages/mentions/src/hooks/useEffectState.ts
  packages/mentions/src/index.ts
  packages/mentions/src/util.ts
  packages/textarea/src/TextArea.tsx
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  packages/dialog/docs/ant-design.tsx
  packages/dialog/docs/assets/bootstrap.less
  packages/dialog/docs/assets/bootstrap/Dialog.less
  packages/dialog/docs/assets/bootstrap/effect.less
  packages/dialog/docs/assets/bootstrap/variables.less
  packages/dialog/docs/assets/index.less
  packages/dialog/docs/assets/index/Dialog.less
  packages/dialog/docs/assets/index/Mask.less
  packages/dialog/docs/dialog.story.vue
  packages/dialog/package.json
  packages/dialog/src/Dialog/Content/MemoChildren.tsx
  packages/dialog/src/Dialog/Content/Panel.tsx
  packages/dialog/src/Dialog/Content/index.tsx
  packages/dialog/src/Dialog/Mask.tsx
  packages/dialog/src/Dialog/index.tsx
  packages/dialog/src/DialogWrap.tsx
  packages/dialog/src/IDialogPropTypes.ts
  packages/dialog/src/context.tsx
  packages/dialog/src/index.ts
  packages/dialog/src/util.ts
  packages/util/src/Dom/focus.ts
  playground/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  packages/menu/src/SubMenu/index.tsx
  packages/select/src/BaseSelect/index.tsx
  playground/App.tsx
Due: lint-oxlint

feat: dialog
  packages/dialog/docs/ant-design.tsx
  packages/dialog/src/Dialog/Content/MemoChildren.tsx
  packages/dialog/src/Dialog/Content/MemoChildren.vue
  packages/dialog/src/Dialog/Content/Panel.tsx
  packages/dialog/src/Dialog/Content/index.tsx
  packages/dialog/src/Dialog/index.tsx
  packages/select/src/hooks/useOptions.ts
  playground/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  package.json
  packages/drawer/docs/assets/index.less
  packages/drawer/docs/assets/motion.less
  packages/drawer/docs/base.tsx
  packages/drawer/docs/drawer.story.vue
  packages/drawer/docs/index.less
  packages/drawer/docs/motion.ts
  packages/drawer/docs/resizable.tsx
  packages/drawer/package.json
  packages/drawer/src/Drawer.tsx
  packages/drawer/src/DrawerPanel.tsx
  packages/drawer/src/DrawerPopup.tsx
  packages/drawer/src/context.tsx
  packages/drawer/src/hooks/useDrag.ts
  packages/drawer/src/hooks/useFocusable.ts
  packages/drawer/src/index.ts
  packages/drawer/src/inter.ts
  packages/drawer/src/util.ts
  playground/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-package, lint-vue

feat: drawer
  package.json
  packages/drawer/docs/resizable.tsx
  packages/drawer/src/DrawerPopup.tsx
  packages/portal/src/useDom.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-package

feat: 1
  packages/trigger/src/Popup/index.tsx
  packages/trigger/src/index.tsx
  playground/App.tsx
Due: lint-oxlint

feat: notification
  packages/notification/docs/assets/index.less
  packages/notification/docs/context.tsx
  packages/notification/docs/hooks.tsx
  packages/notification/docs/maxCount.tsx
  packages/notification/docs/motion.ts
  packages/notification/docs/notification.story.vue
  packages/notification/docs/showProgress.tsx
  packages/notification/docs/stack.tsx
  packages/notification/package.json
  packages/notification/src/Notice.tsx
  packages/notification/src/NoticeList.tsx
  packages/notification/src/NotificationProvider.tsx
  packages/notification/src/Notifications.tsx
  packages/notification/src/hooks/useNotification.tsx
  packages/notification/src/hooks/useStack.ts
  packages/notification/src/index.ts
  packages/notification/src/interface.ts
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: pagination
  packages/pagination/docs/align.tsx
  packages/pagination/docs/assets/index.less
  packages/pagination/docs/basic.tsx
  packages/pagination/docs/itemRender.tsx
  packages/pagination/docs/pagination.story.vue
  packages/pagination/docs/showTotal.tsx
  packages/pagination/docs/utils/commonUtil.tsx
  packages/pagination/src/Pager.tsx
  packages/pagination/src/Pagination.tsx
  playground/App.tsx
  playground/main.ts
  playground/styles/index.css
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  lefthook.yml
  packages/picker/package.json
  packages/picker/src/PickerInput/RangePicker.tsx
  packages/picker/src/PickerInput/Selector/RangeSelector.tsx
  packages/picker/src/PickerInput/SinglePicker.tsx
  packages/picker/src/PickerInput/hooks/useRangeDisabledDate.ts
  packages/picker/src/PickerInput/hooks/useRangePickerValue.ts
  packages/picker/src/PickerInput/hooks/useRangeValue.ts
  packages/picker/src/PickerPanel/DatePanel/index.tsx
  packages/picker/src/PickerPanel/DateTimePanel/index.tsx
  packages/picker/src/PickerPanel/DecadePanel/index.tsx
  packages/picker/src/PickerPanel/MonthPanel/index.tsx
  packages/picker/src/PickerPanel/PanelBody.tsx
  packages/picker/src/PickerPanel/PanelHeader.tsx
  packages/picker/src/PickerPanel/QuarterPanel/index.tsx
  packages/picker/src/PickerPanel/TimePanel/TimePanelBody/TimeColumn.tsx
  packages/picker/src/PickerPanel/TimePanel/TimePanelBody/index.tsx
  packages/picker/src/PickerPanel/TimePanel/TimePanelBody/useScrollTo.ts
  packages/picker/src/PickerPanel/TimePanel/TimePanelBody/util.ts
  packages/picker/src/PickerPanel/TimePanel/index.tsx
  packages/picker/src/PickerPanel/WeekPanel/index.tsx
  packages/picker/src/PickerPanel/YearPanel/index.tsx
  packages/picker/src/PickerPanel/context.tsx
  packages/picker/src/PickerPanel/index.tsx
  packages/picker/src/interface.tsx
Due: lint-oxlint

feat: 1
  packages/picker/docs/assets/index.less
  packages/picker/docs/basic.tsx
  packages/picker/docs/calendar.less
  packages/picker/docs/picker.story.vue
  packages/picker/src/PickerInput/Popup/PresetPanel.tsx
  packages/picker/src/PickerInput/Popup/index.tsx
  packages/picker/src/PickerInput/RangePicker.tsx
  packages/picker/src/PickerInput/Selector/RangeSelector.tsx
  packages/picker/src/PickerInput/Selector/SingleSelector/index.tsx
  packages/picker/src/PickerInput/Selector/hooks/useInputProps.ts
  packages/picker/src/PickerInput/SinglePicker.tsx
  packages/picker/src/PickerInput/hooks/useOpen.ts
  packages/picker/src/PickerInput/hooks/useShowNow.ts
  packages/picker/src/PickerPanel/DatePanel/index.tsx
  packages/picker/src/PickerPanel/DateTimePanel/index.tsx
  packages/picker/src/PickerPanel/DecadePanel/index.tsx
  packages/picker/src/PickerPanel/MonthPanel/index.tsx
  packages/picker/src/PickerPanel/PanelBody.tsx
  packages/picker/src/PickerPanel/QuarterPanel/index.tsx
  packages/picker/src/PickerPanel/TimePanel/TimePanelBody/TimeColumn.tsx
  packages/picker/src/PickerPanel/TimePanel/TimePanelBody/useScrollTo.ts
  packages/picker/src/PickerPanel/TimePanel/index.tsx
  packages/picker/src/PickerPanel/YearPanel/index.tsx
  packages/picker/src/PickerPanel/context.tsx
  packages/picker/src/PickerPanel/index.tsx
  packages/picker/src/generate/dayjs.ts
  packages/trigger/src/Popup/index.tsx
  playground/App.tsx
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  lefthook.yml
  packages/picker/docs/basic.tsx
  packages/picker/docs/calendar.less
  packages/picker/docs/calendar.tsx
  packages/picker/docs/cellRender.tsx
  packages/picker/docs/common.less
  packages/picker/docs/multiple.tsx
  packages/picker/docs/panel.tsx
  packages/picker/docs/picker.story.vue
  packages/picker/docs/range.tsx
  packages/picker/docs/uncontrolled.tsx
  packages/picker/src/PickerInput/Popup/Footer.tsx
  packages/picker/src/PickerInput/Popup/PopupPanel.tsx
  packages/picker/src/PickerInput/Popup/index.tsx
  packages/picker/src/PickerInput/RangePicker.tsx
  packages/picker/src/PickerInput/Selector/RangeSelector.tsx
  packages/picker/src/PickerInput/Selector/SingleSelector/MultipleDates.tsx
  packages/picker/src/PickerInput/Selector/SingleSelector/index.tsx
  packages/picker/src/PickerInput/SinglePicker.tsx
  packages/picker/src/PickerInput/hooks/useLockEffect.ts
  packages/picker/src/PickerInput/hooks/useRangePickerValue.ts
  packages/picker/src/PickerPanel/MonthPanel/index.tsx
  packages/picker/src/PickerPanel/TimePanel/index.tsx
  packages/picker/src/PickerPanel/index.tsx
  packages/picker/src/generate/dayjs.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  packages/picker/docs/basic.tsx
  packages/picker/docs/picker.story.vue
  packages/picker/docs/range.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: picker
  lefthook.yml
  packages/picker/src/PickerInput/hooks/useRangeActive.ts
Due: lint-oxlint

feat: qrcode
  packages/qrcode/docs/assets/index.less
  packages/qrcode/docs/assets/index/Mask.less
  packages/qrcode/docs/assets/index/Mobile.less
  packages/qrcode/docs/basic.tsx
  packages/qrcode/docs/customStyle.tsx
  packages/qrcode/docs/level.tsx
  packages/qrcode/docs/qrcode.story.vue
  packages/qrcode/docs/withLogo.tsx
  packages/qrcode/package.json
  packages/qrcode/src/QRCodeCanvas.tsx
  packages/qrcode/src/QRCodeSVG.tsx
  packages/qrcode/src/hooks/useQRCode.tsx
  packages/qrcode/src/index.tsx
  packages/qrcode/src/interface.ts
  packages/qrcode/src/libs/qrcodegen.ts
  packages/qrcode/src/utils.tsx
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: rate
  packages/qrcode/docs/assets/index/Mask.less
  packages/rate/docs/assets/index.less
  packages/rate/docs/characterRender.tsx
  packages/rate/docs/rate.story.vue
  packages/rate/docs/simple.tsx
  packages/rate/package.json
  packages/rate/src/Rate.tsx
  packages/rate/src/Star.tsx
  packages/rate/src/index.tsx
  packages/rate/src/useRefs.ts
  packages/rate/src/util.ts
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: segmented
  packages/rate/docs/assets/index.less
  packages/segmented/docs/assets/index.less
  packages/segmented/docs/assets/style.less
  packages/segmented/docs/basic.tsx
  packages/segmented/docs/controlled.tsx
  packages/segmented/docs/custom-render.tsx
  packages/segmented/docs/segmented.story.vue
  packages/segmented/package.json
  packages/segmented/src/MotionThumb.tsx
  packages/segmented/src/index.tsx
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  packages/steps/package.json
  packages/steps/src/Context.ts
  packages/steps/src/Rail.tsx
  packages/steps/src/Step.tsx
  packages/steps/src/StepIcon.tsx
  packages/steps/src/Steps.tsx
  packages/steps/src/UnstableContext.ts
  packages/steps/src/index.ts
Due: lint-oxlint

fix: picker hoverValue 异常
  packages/picker/docs/basic.tsx
  packages/picker/docs/picker.story.vue
  playground/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: steps
  packages/steps/docs/alternativeLabel.tsx
  packages/steps/docs/assets/custom-icon.less
  packages/steps/docs/assets/iconfont.less
  packages/steps/docs/assets/index.less
  packages/steps/docs/assets/inline.less
  packages/steps/docs/assets/label-placement.less
  packages/steps/docs/assets/nav.less
  packages/steps/docs/assets/progress-dot.less
  packages/steps/docs/assets/small.less
  packages/steps/docs/assets/variables.less
  packages/steps/docs/assets/vertical.less
  packages/steps/docs/dynamic.tsx
  packages/steps/docs/errorStep.tsx
  packages/steps/docs/icon-render.tsx
  packages/steps/docs/nextStep.css
  packages/steps/docs/nextStep.tsx
  packages/steps/docs/steps.story.vue
  packages/steps/src/Step.tsx
  packages/steps/src/Steps.tsx
  playground/App.tsx
  pnpm-lock.yaml
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: switch
  packages/steps/docs/assets/iconfont.less
  packages/steps/docs/assets/inline.less
  packages/steps/docs/assets/nav.less
  packages/steps/docs/assets/small.less
  packages/steps/docs/assets/variables.less
  packages/steps/src/Step.tsx
  packages/steps/src/Steps.tsx
  packages/switch/package.json
  packages/switch/src/index.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier

Path conditions:
  lint-oxlint: any of: *.{js,jsx,ts,tsx}
  lint-prettier: any of: *.{scss,less,styl,html,vue,css,md}
  lint-package: any of: package.json
  lint-json: any of: {!(package)*.json,*.code-snippets,.!(browserslist)*rc}
  lint-vue: any of: *.vue
