Repository tujianglin/ui-docs: changes, and which lefthook commands are due for each by the changed paths.
All: lint-oxlint, lint-prettier, lint-package, lint-json, lint-vue

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-oxlint:
      run: pnpm oxfmt --write && pnpm oxlint {staged_files} --fix
      glob: '*.{js,jsx,ts,tsx}'

    lint-prettier:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: '*.{scss,less,styl,html,vue,css,md}'

    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: 'package.json'

    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'

    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: '*.vue'

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

feat: tabs
  packages/drawer/src/DrawerPanel.tsx
  packages/tabs/docs/animated.less
  packages/tabs/docs/animated.tsx
  packages/tabs/docs/assets/dropdown.less
  packages/tabs/docs/assets/index.less
  packages/tabs/docs/assets/panels.less
  packages/tabs/docs/assets/position.less
  packages/tabs/docs/assets/rtl.less
  packages/tabs/docs/basic.tsx
  packages/tabs/docs/dynamic-extra.tsx
  packages/tabs/docs/editable.tsx
  packages/tabs/docs/tabs.story.vue
  packages/tabs/package.json
  packages/tabs/src/TabContext.ts
  packages/tabs/src/TabNavList/AddButton.tsx
  packages/tabs/src/TabNavList/ExtraContent.tsx
  packages/tabs/src/TabNavList/OperationNode.tsx
  packages/tabs/src/TabNavList/TabNode.tsx
  packages/tabs/src/TabNavList/Wrapper.tsx
  packages/tabs/src/TabNavList/index.tsx
  packages/tabs/src/TabPanelList/TabPane.tsx
  packages/tabs/src/TabPanelList/index.tsx
  packages/tabs/src/Tabs.tsx
  packages/tabs/src/hooks/useAnimateConfig.ts
  packages/tabs/src/hooks/useIndicator.ts
  packages/tabs/src/hooks/useOffsets.ts
  packages/tabs/src/hooks/useSyncState.ts
  packages/tabs/src/hooks/useTouchMove.ts
  packages/tabs/src/hooks/useUpdate.ts
  packages/tabs/src/hooks/useVisibleRange.ts
  packages/tabs/src/index.ts
  packages/tabs/src/interface.ts
  packages/tabs/src/util.ts
  packages/util/src/ref.ts
  playground/App.tsx
Due: lint-oxlint, lint-prettier, lint-vue

feat: upload
  package.json
  packages/upload/docs/asyncAction.tsx
  packages/upload/docs/beforeUpload.tsx
  packages/upload/docs/customRequest.tsx
  packages/upload/docs/directoryUpload.tsx
  packages/upload/docs/drag.tsx
  packages/upload/docs/upload.story.vue
  packages/upload/package.json
  packages/upload/src/AjaxUploader.tsx
  packages/upload/src/Upload.tsx
  packages/upload/src/attr-accept.ts
  packages/upload/src/index.ts
  packages/upload/src/interface.tsx
  packages/upload/src/request.ts
  packages/upload/src/traverseFileTree.ts
  packages/upload/src/uid.ts
  playground/App.tsx
  pnpm-lock.yaml
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-package, lint-vue

feat: form
  packages/form/docs/basic.tsx
  packages/form/docs/components/Input.tsx
  packages/form/docs/components/LabelField.tsx
  packages/form/docs/components/useDraggable.ts
  packages/form/docs/form.story.vue
  packages/form/package.json
  packages/form/src/Field.tsx
  packages/form/src/FieldContext.ts
  packages/form/src/Form.tsx
  packages/form/src/FormContext.tsx
  packages/form/src/List.tsx
  packages/form/src/ListContext.ts
  packages/form/src/hooks/useForm.ts
  packages/form/src/hooks/useNotifyWatch.ts
  packages/form/src/hooks/useWatch.ts
  packages/form/src/index.tsx
  packages/form/src/interface.ts
  packages/form/src/namePathType.ts
  packages/form/src/utils/NameMap.ts
  packages/form/src/utils/asyncUtil.ts
  packages/form/src/utils/delayUtil.ts
  packages/form/src/utils/messages.ts
  packages/form/src/utils/typeUtil.ts
  packages/form/src/utils/validateUtil.ts
  packages/form/src/utils/valueUtil.ts
  packages/util/src/utils/set.ts
  playground/App.tsx
  tsconfig.app.json
Due: lint-oxlint, lint-prettier, lint-vue

feat: 1
  packages/form/src/namePathType.ts
  packages/form/src/utils/NameMap.ts
Due: lint-oxlint

fix: tabs extra dom 切换报错
  packages/form/docs/clearOnDestroy.tsx
  packages/form/docs/component.tsx
  packages/form/docs/components/Input.tsx
  packages/form/docs/components/LabelField.tsx
  packages/form/docs/context.tsx
  packages/form/docs/deps.tsx
  packages/form/docs/form.story.vue
  packages/form/package.json
  packages/form/src/Field.tsx
  packages/form/src/Form.tsx
  packages/form/src/FormContext.tsx
  packages/tabs/docs/tabs.story.vue
  playground/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-oxlint, lint-prettier, lint-vue

feat: git push
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
